<html>
	<head>
		<title>Manoj's page for Djangogirls</title>
	</head>
	<body style = "background-color:#8000ff">
		<div>
			<h1><font color = #C0C0C0>This is just a test link</font></h1>
			<p><font color = #C0C0C0>If you wnat to know what i like, just click the link below. This is just for a fun
			</font></p>
			<a href="https://www.porsche.com/middle-east/_india_/"><font face= "arial" color = #D4AF37>This is what i like</font></a>
		</div>

		<div>
			 <p>published: 14.06.2014, 12:14</p>
            <h2><a href=""><font color = #C0C0C0>My first post</font></a></h2>
            <p><font color = #C0C0C0>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</font></p>
		</div>

		<div>
			<p><font color = #C0C0C0>published: 14.06.2014, 12:14</font></p>
            <h2><a href=""><font color = #C0C0C0>My second post</font></a></h2>
            <p><font color = #C0C0C0>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</font></p>
		</div>


	</body>
</html>